:root{
    --secondary-color: rgb(127, 194, 252);
}

@font-face {
    font-family: myFont;
    src: url(resources/Poppins-Medium.ttf);
}
  

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: myFont;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 0.2fr;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: var(--secondary-color);
}

footer{
    margin-top: 30px;
    text-align: center;
    background-color: var(--secondary-color);
}

footer span {
    font-family: "resources/Ephesis-Regular.ttf";
}

.head{
    padding: 10px;
}

.header_right{
    margin-right: 50px;
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    align-items: center;
}

.add,.log_in,.edit{
    align-items: center;
    appearance: none;
    background-color: rgb(193, 222, 247);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}
.add{
    border: 2px solid rgb(193, 222, 247);
}

.log_in{
    border: 2px solid rgb(220, 237, 252) ;
    margin-left: 40px;
    background-color: rgb(220, 237, 252);
}

.active{
    border: 2px solid #3da1ed;
}

.header_left{
    margin-left: 50px;
}

.book{
    border-radius: 10px;
    background-color: var(--secondary-color)    ;
    min-width: 590px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.book_left{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.book_right{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.book_left_top{
    font-size: larger;
}

.book_left_bottom{
    font-style: italic;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
}

.pages_txt{
    grid-area: 1/1/2/2;
}

.pages{
    grid-area: 2/1/3/2;
}

.edit{
    grid-area: 2/2/3/3;
    height: 35px;
}

.read{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.book_common{
    padding: 10px;
}

.read_status{
    margin-right: 10px;
}

input{
    margin: 0 10px 0 10px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    margin: 10px;
}

#book_pages{
    width: 60px;
}

.add_div{
    margin: 0;
    padding: 0;
}

.shake {
    animation: horizontal-shaking 0.25s infinite;
  }

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}